body,h1,h2,p{
    margin:3;
    padding:3;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    
}
header{
    background-color:aqua;
    color:blue;
    padding:50px;
}
header h1{
    margin:0;
}
nav ul{
    list-style-type: square;
}
nav ul li{
    display:inline;
    margin-right:30px;
}
nav ul li a{
    color:red;
    text-decoration: none;
}
nav ul li a:hover{
    color:red;
    text-decoration: dotted;
}
section{
    padding:20px;
}
footer{
    background-color:pink;
    margin: 10px;
    color: orange;
}